@font-face {
  font-family: 'DS-DIG';
  src: url('./assets/DS-DIGII.TTF');
}

body {
  background-color: #fcb31b;
}

main{
  padding-top: 1rem !important;
}


section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem !important;
}

.calculator {
  height: fit-content;
  width: 450px;

  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
  padding: 1rem;

  background-color: #212125;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.head > .solar-panel {
  display: flex;
  height: 40px;
  width: 150px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #522a20;
  box-shadow: inset 2px 3px 5px 0px rgba(0, 0, 0, 0.7);
}

.solar-panel > .box {
  flex: 1;
}

.solar-panel > .line {
  border-left: 1px solid black;
}

.brand-text > p {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 1px 1px 1px rgba(187, 198, 206, 0.5);
}

.display-container {
  display: flex;
  flex-direction: column;
  font-family: DS-DIG;
  font-size: 2rem;
  width: 95%;
  padding: 5px 10px;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: #9a9383;
  color: #151516;
  box-shadow: inset 2px 3px 5px 0px rgba(0, 0, 0, 0.7);
}

.operation-area,
.result-area {
  height: 1em;
  text-align: end;
  line-height: 1;
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  grid-gap: 0.5rem;
  padding: 1rem;
  background: #212121;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  width: 100%;
}

.buttons-container > button {
  margin-bottom: 0;
  font-size: 1.325rem;
  padding: 0.25rem 0;
  font-weight: 800;
  background: #616161;
  border: 0px solid transparent;
  outline: none;
  text-decoration: none;
  box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.5);
  color: #dfdfdf;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

button.digits:hover,
button.decimal:hover {
  background-color: #bdbdbd;
  color: #5e5e5e;
}

button.allclear:hover,
button.clear:hover {
  background-color: #4a0000;
}

button.operators:hover {
  background-color: darkorange;
}

button:active {
  transform: translateY(0.2rem);
}

button.equals {
  grid-column: 3 / 5;
}

button.equals:hover {
  background-color: limegreen;
}

footer {
  text-align: center;
}

.footer-text {
  font-size: 1em;
  text-decoration: none;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #151516;
}

.footer-text > img {
  height: auto;
  width: 1em;
}
