@font-face {
  font-family: 'DS-DIG';
  src: url('./assets/DS-DIGII.TTF');
}

body {
  background-color: #fcb31b;
}

header > h1 {
  text-align: center;
}

.header-text {
  color: #151516;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 3em;
  font-family: 'Montserrat Alternates', sans-serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  height: 400px;
  width: 450px;

  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
  padding: 1rem;

  background-color: #212125;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.head > .solar-panel {
  display: flex;
  height: 40px;
  width: 150px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #522a20;
  box-shadow: inset 2px 3px 5px 0px rgba(0, 0, 0, 0.7);
}

.box {
  flex: 1;
}

.line {
  border-left: 1px solid black;
}

.brand-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  text-shadow: 1px 1px 1px rgba(187, 198, 206, 0.5);
}

.brand-text > p {
  margin: 0;
  font-size: 1.5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.display-container {
  display: flex;
  flex-direction: column;
  font-family: DS-DIG;
  font-size: 2rem;
  width: 95%;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #9a9383;
  color: #151516;
  box-shadow: inset 2px 3px 5px 0px rgba(0, 0, 0, 0.7);
}

.operation-area,
.result-area {
  text-align: end;
  line-height: 1;
}

footer {
  text-align: center;
}

.footer-text {
  font-size: 1em;
  text-decoration: none;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #151516;
}

.footer-text > img {
  height: auto;
  width: 1em;
}
