header > h1 {
  text-align: center;
}

.header-text {
  font-size: 3em;
  font-family: 'Montserrat Alternates', sans-serif;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator{
   
  width: 400px;
  height: 400px;
  border: 2px solid black;
}


footer{
  text-align: center;

}

.footer-text{
  font-size: 1em;
  text-decoration: none;
}

.footer-text > img{
  height: auto;
  width: 1em;
}
